[2020-06-09 15:00] akioolin opened #1 "About the libedgetpu porting to MCU"
Dear Sir:

I'm very glade to see the libedgetpu had been open sourced. for the
current release, it should be Linux based. If I want to port this library to
MCU based solution, which part should I take care?

Like NVDLA's KMD, it divides into two part. one is linux porting interface,
the other is firmware, which is platform independent. is current libedgetpu
design has this layer to take about port

[2020-06-10 01:39] jk78346 opened #2 "version of libedgetpu.so.1.0"
Hi, I try to make from source and replace the libedgetpu.so.1.0 at /usr/lib/x86_64-linux-gnu/; however, it gives out the error:
[code]
when I was using C++ library to build interpreter.
It seems relates to this [issues](https://github.com/google-coral/edgetpu/issues/54).
However, I just want to know if there is any way to check the runtime version?
Maybe the libedgetpu.so.1.0 built from this repo

[2020-07-01 17:39] #2 closed

[2020-10-20 21:17] cristianwpuig opened #3 "Illegal Instruction for armv7-a"
Hi, there!

First of all, I wanted to thank you for this awesome repository!
I'm trying to install edgetpu runtime on an ARMv7 SAMA5d3 cpu with Debian buster and python 3.7 and at the same time using Debian stretch and python 3.5. With both I have the same illegal instruction error. I'm going to explain the steps I followed for both.

[code]

I started following the steps of getting started web:
[

[2020-10-21 13:57] Namburger commented on #3
@cristianwpuig ahh, okay, this is probably one of a harder issue to diagnose, since this could be `libedgetpu.so` or `tflite_runtime` package... or both.
Let's make the assumption that libedgetpu is the caused, make sure you remove our build and use yours.
Maybe these command can give some insight:
[code]

[2020-10-21 14:39] cristianwpuig commented on #3
Hi @Namburger, Thanks for your helpful and quick reply!

First of all, I made the commands with the original libedgetpu.so.1.0 (installed with [google-coral/edgetpu library](https://github.com/google-coral/edgetpu))

[code]

Then, I have performed these commands using my custom build on the armv7 platform.

[code]
and  yipee:tada:!! :) Now, I can confirm that the libedgetpu.so.1.0 file works. Than

[2020-10-21 15:05] Namburger commented on #3
@cristianwpuig No problems, should have reached out reach out earlier :)
You can use [these instructions](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package) to build tflite_runtime package. Make sure that you first check out the same tensorflow commit as [our tensorflow dependency](https://github.com/google-coral/libedgetpu/blob/master/bazel/WORKSPACE#L39) or y

[2020-10-21 16:27] cristianwpuig commented on #3
Thank you one more time @Namburger :v:
I will report my progress!

[2020-10-21 17:53] yosyp opened #4 "Darwin build fails to load delegate with USB Accelerator device"
Hello, and thank you for this awesome repository!

The Darwin build of libedgetpu for macOS devices [as linked in the Coral documentation here ](https://coral.ai/docs/accelerator/get-started/#1b-on-mac)does not seem to work with the Coral USB Accelerator, throwing a `ValueError: Failed to load delegate from libedgetpu.1.dylib`

I have tested this on 2 difference MacBook Pro laptops with USB-C port

[2020-10-21 19:22] Namburger commented on #4
@yosyp I'm sure you've already looked into this, but just preliminary debugging steps;
Since this message `ValueError: Failed to load delegate from libedgetpu.1.dylib` could appears for something as trivial as the system can't find it, can you check if `/usr/local/lib` is in your `LD_LIBRARY_PATH`?
Also, does this returns anything?
[code]

[2020-10-23 17:03] yosyp commented on #4
@Namburger thank you for the suggestion.

[code]

It appears that `$LD_LIBRARY_PATH` was not set. ***Setting the path resolved the issue***:
[code]

I would like to suggest adding the following line to [`google-coral/edgetpu/blob/master/scripts/runtime/install.sh#L88`](https://github.com/google-coral/edgetpu/blob/master/scripts/runtime/install.sh#L88):
[code]
and probably to also updating`~/bash_p

[2020-10-23 17:11] Namburger commented on #4
@yosyp Awesome!

[2020-10-23 17:11] #4 closed

[2020-10-27 18:21] usbguru commented on #1
Hi Akio,
If you want to get TFlite/MCU models running on the edgetpu, the libedgetpu code is a useful guide for understanding the process, but not ideal for porting.  It has too much code that won’t be needed, and it would be hard to maintain libedgetpu if it targeted multiple physical layers, multiple OS, and RTOS, and multiple ML frameworks.

You can run unaccelerated TFlite models on an MCU tod

[2020-10-27 18:21] #1 closed

[2020-11-07 19:43] jens-totemic opened #5 "Frogfish release binaries"
In the past, pre-built binaries were published here: https://github.com/google-coral/edgetpu/tree/master/libedgetpu/direct
There seems to be no binaries for that most recent Frogfish release for the different platforms. Where can we download binaries moving forward?

[2020-11-07 21:01] Namburger commented on #5
Hi @jens-totemic, you can get it [here]9https://github.com/google-coral/pycoral/tree/master/libedgetpu_bin).
Please note that we are deprecating edgetpu in an attempt to separate the c++ and python API. you can also check out our pycoral and libcoral repo!

[2020-11-07 21:01] #5 closed

[2020-11-21 23:03] NobuoTsukamoto opened #6 "Build failed on Windows 10"
### System information
- Windows 10 Home 20H2 Build 19042.630 64bit
- Visual Studio Community 2019 Version 16.8.2
- Bazel 3.4.1

### Describe the current behavior
When I build libedgetpu (Release Frogfish) on Windows 10 it fails with the following error:
x64 Native Tools Command Prompt for VS 2019
[code]

I think that ".\driver/kernel/windows/windows_gasket_ioctl.inc" is missing a header file incl

[2020-11-23 14:15] Namburger commented on #6
@NobuoTsukamoto Thanks for reporting!

[2020-11-30 11:04] cristianwpuig commented on #3
Finally I got it! :tada: :tada:

I started generating `libedgetpu.so` as said before, then i installed libegdetpu in the Armv7 with the following steps:

[code]

And then copy the `libedgetpu.so` previously cross compiles to` /usr/lib/arm-linux-gnueabihf/` in the Armv7

Now we have to install tflite from source in the Armv7 following this steps:

[code]

And yuhu!! You have now installed tflite al

[2020-11-30 11:04] #3 closed

[2020-12-16 09:24] YijinLiu opened #9 "Possible deadlock"
My program is experiencing deadlock in libedgetpu occasionally. Following is the stack trace.

<pre>
Thread 58 (Thread 0x7fff7d7fa700 (LWP 24554)):
#0  0x00007ffff75ebad3 in futex_wait_cancelable (private=<optimized out>, expected=0, futex_word=0x7fff7d7f9170) at ../sysdeps/unix/sysv/linux/futex-internal.h:88
#1  __pthread_cond_wait_common (abstime=0x0, mutex=0x7fff7d7f9120, cond=0x7fff7d7f9148) a

[2020-12-16 12:42] Namburger commented on #9
Hello, can you describe what exactly happens and how is your program designed?

[2020-12-16 21:50] YijinLiu commented on #9
We run a SSD model using edgetpu. A single thread receives images and run the model.
Once a while, the thread stuck forever. The initial post has the stuck trace. Unfortunately, I have no luck finding a way to repro so far. Let me know if you need more information.

[2020-12-21 16:12] Namburger commented on #9
@YijinLiu I see, may I ask if this is over usb3 or usb2?

[2020-12-22 01:07] YijinLiu commented on #9
It's usb3. Thanks.

[2021-01-22 09:56] YijinLiu opened #10 "Conflict with Intel IPP"
I am testing a [m2 edgetpu](https://coral.ai/products/m2-accelerator-dual-edgetpu) under ubuntu 18.04.
To make it accessible to a non root user. I did this:
<pre>
echo 'DRIVER=="apex", OWNER="$USER", GROUP="$USER"' > /etc/udev/rules.d/99-apex-perm.rules
</pre>
Everything works great until I link the binary to OpenCV with Intel IPP.
It fails at [kernel_registers.cc:101](https://github.com/google-co

[2021-01-22 23:38] YijinLiu commented on #10
This seems to be a OpenCV issue.
Here is a mini program to repro it:
<pre>
#include &lt;iostream>

#include &lt;edgetpu.h>
#include &lt;iw++/iw.hpp>

int main() {
    try {
        ipp::IwiSize size(1920, 1080);
        ipp::IwiImage image(size, ipp8u, 3);
        auto status = ipp::iwiSet(128, image);
        if (status != ippStsNoErr) {
            std::cout << "Failed to set image!\n";

[2021-01-23 19:24] YijinLiu opened #11 "Failed to set performance expectation for M.2 edgetpu"
The error message shows:
<pre>
W :131] Could not set performance expectation : 11 (Inappropriate ioctl for device)
</pre>
I am using Ubuntu 18.04, with kernel 5.4.0. I don't see this error message for USB accelerators.
I get 7ms/frame on a [USB accelerator](https://coral.ai/products/accelerator/), only 15ms on the [M.2 one](https://coral.ai/products/m2-accelerator-dual-edgetpu). Could the speed di

[2021-01-29 11:17] arun-kumark opened #12 "Installing PCIe driver and Edge TPU runtime inside a docker"
Hello,
I want to provide the EdgeTPU runtime and PCIe drivers inside dockers, and don't want to install on the machine directly.
My objective is to release these two packages not with the main stream distribution but inside a dockerized solution ?

Would that be a correct approach?
Thanks for the suggestions.

Kind Regards
Arun

[2021-02-01 22:26] Namburger commented on #12
Hi @arun-kumark yes it is possible. Here is an example docker image:
https://gist.github.com/Namburger/5c18a894951cb4bf26d6033b029e4144

[2021-02-02 06:23] arun-kumark commented on #12
Thanks a lot @Namburger .
This helped a lot..

Kind Regards
Arun

[2021-02-03 09:25] arun-kumark commented on #12
Hi Namburger,

do you have any ideas/suggestions on multiple apps using coral

- Would each app include the drivers.
- Could we have one priviledged app that provides access to the coral for others
       - What could such interface be

- Do we need the priviledged containers or are certain mont paths/caps sufficient
Thanks for the suggestion

Kind regards
Arun

[2021-02-10 15:23] marcin-kamionowski commented on #11
Hi!
I also have problem like this. I'm using apex driver that comes from mainline linux. It does not support this [ioctl](https://github.com/torvalds/linux/blob/master/drivers/staging/gasket/apex.h).

I tried https://coral.googlesource.com/linux-imx/+/refs/heads/dkms/drivers/staging/gasket/ but I get some errors on device initialization. Not sure why.

[2021-02-22 10:00] aquahsu0811 opened #13 "Fail to compile libedgetpu"
Dear all,

I got an error when I compiled  libedgetpu libary,

make libedgetpu-direct CPU=aarch64:

`bazel build --sandbox_debug --subcommands --experimental_repo_remote_exec --compilation_mode=opt --define darwinn_portable=1 --action_env PYTHON_BIN_PATH=/usr/bin/python3 --cpu=aarch64 --embed_label='TENSORFLOW_COMMIT=f394a768719a55b5c351ed1ecab2ec6f16f99dd4' --stamp --verbose_failures --crosstool_

[2021-02-23 00:16] Namburger commented on #13
@aquaXU I believe you either have some missing library or mismatching dependency. I suggest using the provided docker image to build, we also use this internally since it's became out of hand to have different system and glic version building binaries for a target.
[code]

[2021-02-23 00:19] Namburger commented on #12
@arun-kumark
I would create a server app that serves the rest of the app (either via socket or REST, that is up to you). This way, a single docker will have the tpu access while the rest depends on it. Maybe something like this: https://github.com/namburger/restor

Giving the docker image a path should be good enough, no need for full priviledge, that was only for demonstation!

[2021-02-23 10:12] arun-kumark commented on #12
Thank you Num for sharing the example, also very beautiful article on Medium...

To give you more information on the setup I am testing, this is a small intel device installed inside the shopfloor integrated with Coral card and based on Windows 10 OS. This device has to work mostly in offline mode. The inference has to execute on the device, the HMI is  attached with the device.

Thanks a lot agai

[2021-02-23 21:54] Namburger commented on #12
@arun-kumark
are all of the containers being ran on this same ps?
The problem with allowing all of the containers to have access to the tpu is that the tpu may fails if 2 or more containers is trying to use it at the same time. Imagine container A doing an inference on an image, that image needs to be transferred to the tpu, if say container B is also sending a different image on to the tpu for in

[2021-02-24 05:52] arun-kumark commented on #12
Thank you Num for explanation. I experienced this problem while running the Dockers in Ubuntu setup.
Could you help me on the issue related to running the inference on Windows OS.
I have placed the issue here on PyCoral : [DLL_error](https://github.com/google-coral/pycoral/issues/18)

Thank you
Kind Regards
Arun

[2021-03-02 09:35] pdecat opened #14 "Update debian packaging files from v14 to v15"
Currently available debian packaging files are only v14: https://github.com/google-coral/libedgetpu/blob/14eee1a076aa1af7ec1ae3c752be79ae2604a708/debian/changelog

While debian packages available from https://packages.cloud.google.com/apt/dists/coral-edgetpu-stable/main/binary-amd64/Packages are v15

Could you please update the debian packaging files in this repository?

[2021-03-05 13:58] arun-kumark commented on #12
Hi Nam,
I came across the scenario, could you guide me what could be the possible impact ?
Case:
If PCIe driver is already installed on the machine, and Docker also running with PCIe inside it. How the device will behave in such case.
My problem is that, someone can use the device using Docker, even driver is not installed on the machine.

Do you see any problem in this case?

Kind Regards
Arun

[2021-03-29 06:40] tbags opened #15 "Need access to documentation"
@dmitriykovalev et al,

I'm trying to understand how the driver for the edge tpu is scoped and how the instructions are mapped on a USB device. I'm not very sure if I'm looking into the right place.

Could you please make the design doc public or stick a link in coral.ai site? It's kind of hard to read through the code as the go links in the doc won't work outside.

https://github.com/google-coral

[2021-04-07 09:28] mb-karo commented on #11
Hello!

I am also receiving this message with NXP linux-imx kernel 5.4.70 which is based on Mainline Kernel.

Is this a real "problem" or just a message? My inference is running fine.

[2021-04-07 12:10] Namburger commented on #11
Hey guys, I suggest blacklisting the mainline gasket module and use the one we provided

[2021-04-12 07:28] Spanni26 opened #16 "Anyone running on openSUSE"
Does anyone get that stuff running on opensuse?
We use the m2-board.

When I try to build it with "make libedgetpu" I get:

  /usr/bin/gcc -fPIC -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O3 -DNDEBUG '-D_FORTIFY_SOURCE=2' -ffunction-sections -fdata-sections -msse4.2 '-std=c++11' -MD -MF bazel-out/host/bin/external/flat

[2021-04-12 22:27] RyanHir opened #17 "Apex driver failure on Ubuntu 20.04 on Raspberry Pi Compute Module 4."
Hello,

I am trying to use the "Mini PCIe Accelerator" on the Raspberry Pi Compute Module 4 running Ubuntu Mate 20.04 64-bit. I am able to install the drivers and necessary runtimes required. On the device, I have `libedgetpu1-std=15.0`, `python3-pycoral=1.0.1`, and `gasket-dkms=1.0-14`, these are able to run the "USB Accelerator". But when I go to use the PCIe Accelerator, I am unable to get past

[2021-04-12 22:51] RyanHir commented on #17
Closing in order to follow issue at https://github.com/google-coral/edgetpu/issues/280

[2021-04-12 22:51] #17 closed

[2021-04-15 07:33] YijinLiu commented on #10
In case it might be useful for others: after upgraded the kernel to 5.11.10, it's working well now.

[2021-04-15 07:33] #10 closed

[2021-04-15 10:57] arun-kumark commented on #12
Dear Namburger,
I am using the Dockers on a remote system, and unfortunately, I cannot install directly on the root. But I can use the Docker alone to test the Google Coral device. The Device is connected on the Mini PCIe using Adapter. After running my Docker, I get the following logs:

[code]

These logs are expected when the Device is not connected with the system. Unfortunately, I don;t have S

[2021-04-15 13:23] Namburger commented on #12
@arun-kumark what's going on here is that your version of tflite_runtime(2.1.0-cp36-cp36m) is way out of date. What you want is probably this package:
[code]

[2021-04-15 18:53] arun-kumark commented on #12
@Namburger
I tried updating my Docker file with the suggested releases.
But the error is persistent.

There is nothing installed on the machine, and we want to test only Attached device for inference.

The logs are here.

Traceback (most recent call last):
  File "/home/tflite/python/examples/classification/classify_image.py", line 122, in <module>
    main()
  File "/home/tflite/python/examples/c

[2021-04-16 08:57] arun-kumark commented on #12
Hi @Namburger

It looks to me that, the below lines of the code:
C)

**```
#Install Coral Driver
RUN apt install gasket-dkms libedgetpu1-std -y && apt-get clean
RUN touch /etc/udev/rules.d/65-apex.rules
RUN sh -c "echo 'SUBSYSTEM==\"apex\", MODE=\"0660\", GROUP=\"apex\"' >> /etc/udev/rules.d/65-apex.rules"
RUN groupadd apex
[code]

[2021-05-04 11:01] jan-kiszka commented on #14
Also, where is the true upstream repo for those debian packages? Here?

I'm also facing troubles pulling the sources of the debian packages, to cross-check the difference. But that debian repo seems to miss them (added `deb-src https://packages.cloud.google.com/apt coral-edgetpu-stable main`).

[2021-05-11 11:27] NooLL opened #18 "Unable to delegate libedgetpu.so.1 after installing FogLamp then trying to run ‘edgetpu_classify’"
Hi I suspect this issue is due to the incompatibility of tflite-runtime

[2021-05-12 16:47] zye1996 opened #19 "build for apple silicon"
Hi I am trying to build the runtime library for apple silicon. I installed libusb with homebrew but when I build the library, it shows error: ```failed: missing input file 'external/libusb/root/libusb-1.0/libusb.h', owner: '@libusb//:root/libusb-1.0/libusb.h'```

Is this due to the changed install directory for homebrew on ARM macOS?

[2021-05-26 12:13] Spanni26 opened #20 "missing dependency declarations from flatbuffers"
I try to build pycoral on opensuse. This includes building libedgetpu, which uses "flatbuffers". But flatbuffers can't be build cause of a "missing dependency declarations" Error.
I'm not experienced with bazel, but it seems that tools_cc detects wrong include paths.

[ 1057s] SUBCOMMAND: # @flatbuffers//src:flatc [action 'Compiling external/flatbuffers/src/flatc_main.cpp [for host]', configuratio

[2021-05-26 12:32] manoj7410 commented on #20
[ 1059s] '/usr/lib64/gcc/x86_64-suse-linux/7/include/stddef.h'
[ 1059s] '/usr/lib64/gcc/x86_64-suse-linux/7/include/stdarg.h'
[ 1059s] '/usr/lib64/gcc/x86_64-suse-linux/7/include/stdint.h'

Are these files present at the mentioned path ?

[2021-05-26 12:35] manoj7410 commented on #18
@NooLL Are there any errors or logs that you can share ?

[2021-05-26 12:36] Spanni26 commented on #20
Yes, But this files are not configured as dependencies it seems. Thats what the build is claiming about.

[2021-05-26 12:38] manoj7410 commented on #16
Is this a duplicate of https://github.com/google-coral/libedgetpu/issues/20 ? @Spanni26

[2021-05-26 12:47] Spanni26 commented on #16
Nope. Same error message but at an other point of the build.

Bazel is a hell of ......

[2021-05-27 12:24] Spanni26 commented on #20
Ok, it seems not to be a flatbuffsers issue. Flatbuffers standalone builds fine.

The worst thing on all: nobody  can help you with bazel.

[2021-05-27 13:41] Spanni26 commented on #16
Ok, Cause seems to be the same as in #20 . But how to fix it?

[2021-05-28 06:09] manoj7410 commented on #16
The only solution is to use the docker image to build, we also use this since it is really challenging to have different system and glibc version building binaries for a target.

[2021-05-28 06:18] Spanni26 commented on #16
Hi,

well, we build this on a build server (open build system) to build
packages for different systems at one run. This system does not have an
internet connection, so docker can't be used I think.

Why the hack can't they simply use a "normal" build system instead of
bazel, which (besides of google) nobody is using....

Am 28.05.2021 um 08:09 schrieb Manoj:

[2021-05-28 17:18] BernardinD opened #21 "Ubuntu 21.04 on Raspberry Pi 4"
I've been unable to run the edgetpu lib on my RPi running Ubuntu 21.04. It is an ARMv8 aach64 OS which should be compatible but when I try to run a project that links to the edgetpu library I still get the `unresolved custom op` error. I've also tried running Namburger's [minimal example](https://github.com/Namburger/edgetpu-minimal-example), that I've gotten to work on ARMv7, on this Ubuntu 21.04

[2021-06-04 21:30] #19 closed

[2021-06-06 04:22] Doom4535 commented on #20
Lol, if it's any comfort, I'm having the same issue on Arch...

[2021-06-06 04:41] Doom4535 commented on #20
Does anyone know how to interpret Bazel error messages?  I can't tell if it is saying this project is missing the dependency declaration or if it is the version of Flatbuffers that is pulled in that is missing the declaration?

[2021-06-06 07:43] Doom4535 opened #22 "Broken symbolic links after build completion"
When I run a build with Docker, it seems that final clean phase is incomplete, as several broken symbolic links are left behind:
[code]
[code]

I suspect this is because bazel cleans the catch (in this case `eab0d61a99b6696edb3d2aff87b585e8`) after the build finishes successfully, which breaks the symbolic links.

Build command: `DOCKER_CPUS="k8" DOCKER_IMAGE="ubuntu:18.04" DOCKER_TARGETS=libedget

[2021-06-07 09:38] Spanni26 commented on #16
Can I influnce the search path for headers includes?
I get "src/coral_wrapper.cc:15:10: fatal error: numpy/arrayobject.h: No such file or directory" cause the numpy headers are not under "/usr/include".....

[2021-06-16 07:11] manoj7410 commented on #22
@Doom4535 Are you able to navigate into these directories ?

[2021-06-16 09:19] manoj7410 commented on #21
@BernardinD Are there any steps that you can share to reproduce this issue ?
What is the python3version that you are working with?
Can you also share the detailed error including the command that you executed ?

[2021-06-16 13:12] mbrooksx commented on #22
Hello @Doom4535 ,

This working as intended - the symlinks are unfortunate though. The idea of building within the Docker container is to keep the Bazel workspace/outputs within that container. When running via docker-build, once the build completes the outputs are copied to the out/ folder that is external to the Docker container - the Bazel intermediate files are not.

If you want to see all the

[2021-06-25 02:48] #22 closed

[2021-07-01 10:28] #11 closed

[2021-07-02 11:47] hjonnala commented on #15
@tbags, sorry to inform you that any thing related to darwinn will not be open sourced.

[2021-07-02 12:32] #15 closed

[2021-07-05 09:34] manoj7410 commented on #13
Feel free to reopen if this is still an issue.

[2021-07-05 09:34] #13 closed

[2021-07-05 09:36] manoj7410 commented on #9
Feel free to reopen if this is still an issue.

[2021-07-06 12:37] ilouzl commented on #1
Any update on the MCU delegate development?
Maybe someone could point out what parts of the libedgetpu would be relevant for such port?

[2021-07-08 13:24] Pascal66 opened #24 "Disconnect every 5mn Virtualbox Win10 Host"
Dont know if it's related to the driver win10, virtual box usb driver, or kernel of the VM

Running on USB 3.0 (The PICe doesnt work with virtualbox)
Continuous error, starting from '`unable to get BOX...`'
![image](https://user-images.githubusercontent.com/3041616/124928808-3e9c8900-e000-11eb-90ad-928319efbcd9.png)

Tryied slow or fast version, usb 2.0 or 3.0 port
(Dont know if it work on usb C p

[2021-07-08 14:38] Pascal66 commented on #24
I've stabilised things (65ms inference), using the maximum powermanagement of everything in win10 host.
Just the "`unable to get BOS descriptor or descriptor too short`" at initialisation, since  20mn
No more Transfert event error for now.

[2021-07-09 03:55] manoj7410 commented on #24
@Pascal66 Are you able to run the device successfully on native/host OS installation instead of the VM ?

[2021-07-09 07:29] Pascal66 commented on #24
@manoj7410 I've no dev environment in the W10 host.

[2021-07-12 10:52] manoj7410 commented on #18
Marking this as closed due to lack of activity. Feel free to reopen if the issue still persists.

[2021-07-12 10:52] #18 closed

[2021-07-13 14:38] arun-kumark opened #25 "No module named 'pycoral.adapters'"
Hello,
I am testing the M.2 Card Google Coral on Windows10.
Python version  3.8

While  executing an example of Parrot, I am facing the following issue:

[code]

[2021-07-13 14:44] hjonnala commented on #25
please try uninstall tflite runtime and install from whl package from this source: https://github.com/google-coral/pycoral/releases

`pip install https://github.com/google-coral/pycoral/releases/download/v1.0.1/tflite_runtime-2.5.0-cp38-cp38-win_amd64.whl`

[2021-07-13 14:49] arun-kumark commented on #25
Thanks for the quick reply,
I did that, but still the same output.

Below is my pip freeze output. Do you see problem?
[code]
Thanks

[2021-07-13 14:57] hjonnala commented on #25
ok..uninstall pycoarl also install from this it needs to 1.0.1 version.

`pip install https://github.com/google-coral/pycoral/releases/download/v1.0.1/pycoral-1.0.1-cp38-cp38-win_amd64.whl`

[2021-07-13 15:00] arun-kumark commented on #25
Thanks a lot, it worked.
I am not sure how it worked, but I did the installation just like you mentioned, I reinstalled (after uninstalling) and it worked. A small explanation will really helpful for future.

google@DESKTOP-QNUDFH0 /cygdrive/c/Users/google/coral
$ python examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_la

[2021-07-13 15:11] hjonnala commented on #25
The error came because the script not able to find adapter module inside site-packages/pycoral.

Now, you can check this path **/site-packages/pycoral**  you will find those adapter modules along with others.

[2021-07-13 15:12] #25 closed

[2021-07-13 16:09] Pascal66 commented on #24
Some news, after tryied all energy saving combinations on w10 host, I put all to normal.
I do that because I suspect something else than energy saving causing my problems.
No more success, but that confirm that power saving on w10 host isnt the problem.

Then I changed my input video flux to a low resolution, and near all is working now.
(No more `comp_code`, no more fatal disconnecting usb)

Just

[2021-07-16 05:29] Pascal66 commented on #24
More detail (in linux guest VM) :
[code]

[2021-07-21 08:38] saidinesh5 opened #26 "Compatibility Guarantees with tf-lite"
We are trying to add support for libedgetpu in our software, and our options are:

1) Compile libedgetpu + tflite into a single static library (A bit of a pain with bazel currently) for our program and modify the interpreter with edgetpu delegate only when libedgetpu finds devices:

[code]

2) Compile tflite into our program, try to dlopen libedgetpu from the host system, and take the same code pa

[2021-07-26 13:03] pmdaye opened #27 "edgetpu on Fedora 34 Bazel 3.7.1"
Hello,

I am trying to compile the edge TPU library for my fedora 34.
Using the installation process of bazel for fedora ([webpage](https://docs.bazel.build/versions/4.1.0/install-redhat.html)), I install bazel 3.7.1
I used the master of libedgetpu and as requested, I modified the value for the commit and the SHA256 (corresponding to tf 2.5.0) from

to

Then, I tried to run make, the downloads wor

[2021-07-26 13:05] pmdaye commented on #20
Just posted an identical issue on Fedora 34....

[2021-07-27 09:14] Pascal66 commented on #24
New version :
no more dma errors for now.
Still Just the "unable to get BOS descriptor or descriptor too short" at initialisation

[2021-07-28 06:42] manoj7410 commented on #27
@pmdaye Did you try to build with Docker ? Try to build using the Docker as recommended here : https://github.com/google-coral/libedgetpu#building

[2021-07-28 06:46] pmdaye commented on #27
@manoj7410 Thanks for the reply. This was not working. However, the approach with the Makefile only worked smoothly. I am now in the process of writing a CMakeLists.txt to allow compiling and installing with CMake such that I can include it more easily in my build (within a Yocto recipe).
Thanks,

[2021-07-28 13:00] manoj7410 commented on #14
Can you check if you are now able to get the latest library ?

[2021-07-28 13:32] pdecat commented on #14
Debian packaging files for all releases seem ok now, thanks!

[2021-07-28 13:35] #14 closed

[2021-07-28 23:47] hjonnala commented on #26
Hi, we can't give any guarantee that libedgetpu released along with a tflite version is compatible with all the versions of tflite in the same major version.

Please refer to this page to build coral for your platform. https://coral.ai/docs/notes/build-coral/#required-components.

Thanks

[2021-07-28 23:50] dmitriykovalev commented on #6
I believe this is already fixed, please try the latest source code from Grouper release.

[2021-07-28 23:50] #6 closed

[2021-07-29 18:07] dmitriykovalev commented on #27
@pmdaye Can you please try to build again with Bazel using the latest code from `master`? I believe https://github.com/google-coral/libedgetpu/commit/0f1def1f0e0e5ee79a517f30733f09dda2441304 fixes the problem.

[2021-07-29 19:02] dmitriykovalev commented on #16
I believe https://github.com/google-coral/libedgetpu/commit/0f1def1f0e0e5ee79a517f30733f09dda2441304 fixes the "include" problem, please try the latest source code from `master` branch.

[2021-07-29 23:35] scottamain commented on #25
Hi @arun-kumark I'd like to understand how you got into this situation. Can you please tell me the exact command you used the first time you installed pycoral?

(You ended up installing this [other package called pycoral](https://pypi.org/project/pycoral/) and I want to figure out how that happened so we can help others avoid it.)

[2021-07-30 05:10] pmdaye commented on #27
@dmitriykovalev I will try later as I have a CMakeLists.txt that works nicely and can be integrated with my embedded distribution (Yocto).

[2021-07-31 10:36] dmitriykovalev commented on #21
Please add more details as @manoj7410 suggested, closing this for now.

[2021-07-31 10:36] #21 closed

[2021-07-31 10:38] dmitriykovalev commented on #20
I hope this is fixed in https://github.com/google-coral/libedgetpu/commit/0f1def1f0e0e5ee79a517f30733f09dda2441304, please reopen if something is still broken.

[2021-07-31 10:38] #20 closed

[2021-08-02 12:56] #26 closed

[2021-08-03 08:11] manoj7410 commented on #27
Feel free to reopen this thread if the issue still persists.

[2021-08-03 08:11] #27 closed

[2021-08-03 08:13] manoj7410 commented on #16
@Spanni26 Feel free to reopen this thread if the issue still persists.

[2021-08-03 08:13] #16 closed

[2021-08-03 08:46] pmdaye opened #28 "Missing symbol after compilation"
Hello,

I followed the process to compile libedgetpu using the makefile_build approach.
Everything went OK during the compilation.
However, we I run the test using:

I have a missing symbol:

I checked that this was not a mismatch between my tensorflow commit using this:

Which corresponds to the commit provided in [https://github.com/google-coral/libedgetpu#makefile](https://github.com/google-cor

[2021-08-03 10:14] pmdaye commented on #28
I did another test to check if the symbol is actually missing or not...

It seems that the symbol is present in the library... I must admit that I am a bit lost now!

[2021-08-03 14:07] dmitriykovalev commented on #28
This is a symbol from Abseil library:
[code]
It's undefined in `libedgetpu.so.1` and should be loaded from the corresponding Abseil shared library:
[code]

It's weird because you've just compiled `libedgetpu` without errors. Please copy the output of `ldd` command:
[code]

[2021-08-03 17:00] pmdaye commented on #28
@dmitriykovalev , thanks for the quick reply!

Some additional details, if I compile using my CMakeLists.txt, I can follow the procedure explained in the abseil-gcc git (see [https://github.com/abseil/abseil-cpp/blob/master/CMake/README.md](this url) for the details). I had to do that as my development board doesn't have abseil in its package database. If I tried to compile and install abseil-cpp,

[2021-08-03 22:50] dmitriykovalev commented on #28
Makefile doesn't define any symbols, it only specifies which libraries to link with using `-l` flags. I think it should be fine to link with Abseil library statically if needed.

I guess you should follow [Traditional CMake Set-Up](https://github.com/abseil/abseil-cpp/blob/master/CMake/README.md#traditional-cmake-set-up) for Abseil in order to install all generated static/shared libraries to some

[2021-08-09 12:36] arun-kumark commented on #25
I replicated on the system freshly and ended up at the same error.
I am following : https://coral.ai/docs/m2/get-started/#4-run-a-model-on-the-edge-tpu
Please see below my steps on Debian 11.

[code]
Thanks
Kind Regards
Arun

[2021-08-09 16:38] scottamain commented on #25
This looks like a different error because it says you don't have `pycoral` at all, whereas the original error you had was because Python could not find `pycoral.adapters`... Your original problem was you installed a different Python package that's *also called pycoral* and it does not have the `adapters` submodule. But now, you don't have *any* module named `pycoral`.

You can be sure to get our p

[2021-08-24 15:10] hjonnala commented on #28
@pmdaye are you still having the issue?

[2021-08-25 11:45] mtiftikci commented on #28
Hello everyone,

Im facing the same issue with @pmdaye. But there are a few little differences:

1) I tried to build for 32 bit arm architecture (armv7a).
- In order to do so, I had to build flatbuffers (both for x86_64 and armv7a) and abseil libraries as well. Luckily I already has a cross compile toolchain supported by the supplier company.
- Then I clone the tensorflow project which is needed b

[2021-08-31 09:11] agjunyent opened #29 "edgetpu_runtime_20210726 not working (Win10)"
I have updated the runtime to the latest version on my Windows 10 machine, and now the coral does not even start.

I have a simple code I was using to test the coral models (because some times the compiler simply does not work):

[code]

I cannot make it go pass the "tflite.Interpreter(" call. It simply goes there, I can hear the sound of the USB device "disconnecting", but it never connects, and

[2021-08-31 12:51] hjonnala commented on #29
Hi @agjunyent yes, edgetpu runtime 14 is not working on windows. Due to the other priorities this issue won't be fixed in the near future. Please use edgetpu_runtime_20210119.zip from https://coral.ai/software/#edgetpu-runtime and compile the models with runtime version 13 by specifying -m flag.

To know more about the details of flags please refer to this resource: https://coral.ai/docs/edgetpu/c

[2021-08-31 13:43] agjunyent commented on #29
thanks for your answer @hjonnala !!

I'm moving the test enviromnent to a RPi (the production environment is indeed a RPi, was using windows as first test) to test it against it. Is it working on the RPi?

thanks

[2021-08-31 14:08] hjonnala commented on #29
Yes, Edgetpu runtime 14 is working on RPi.

[2021-08-31 14:20] #29 closed

[2021-10-12 06:18] YijinLiu commented on #9
Well, even more weird: I am not allowed to reopen it!

[2021-10-12 06:22] YijinLiu opened #30 "Possible deadlock"
### Description

I reported the same bug several month back #9
The issue got closed w/o any reason. Reopen here.

We run a SSD model using edgetpu. A single thread receives images and run the model.
Once a while, the thread stuck forever. Following is the stack trace:
<pre>
#0  futex_wait_cancelable (private=, expected=0, futex_word=0xc95660c) at ../sysdeps/nptl/futex-internal.h:183
#1  __pthread_

[2021-10-12 06:25] manoj7410 commented on #9
@YijinLiu Issue reopened. Can you please share any steps to reproduce ?
Which platform are you working on ?

[2021-10-12 07:35] #30 closed, assigned to hjonnala

[2021-10-12 08:09] YijinLiu commented on #9
It's a desktop machine, with CPU i7-10700, running ubuntu 20, with kernel 5.11.
I only have one USB accelerator connected to the machine.

We have users with many other configurations that are experiencing the same issue.

[2021-10-15 18:21] chunyeow opened #31 "TENSORFLOW_COMMIT for libedgetpu v16.0"
### Description

What is the TENSORFLOW_COMMIT for the following libedgetpu (16) version:
ii  libedgetpu-dev                       16.0                                arm64        Development files for libedgetpu
ii  libedgetpu1-std:arm64                16.0                                arm64        Support library for Edge TPU

Any source of reference?

### Issue Type

Build/Install

### Operat

[2021-10-16 02:57] chunyeow commented on #31
$ python3 -c 'print(__import__("tflite_runtime").__version__)'
2.5.0.post1

The libedgetpu-dev over my coral dev mini is upgraded to version 16.0. So which TENSORFLOW_COMMIT should I used for?

Based on my understanding below:
"Clone the TensorFlow repo using the TENSORFLOW_COMMIT version specified here—that's the version used to build the libedgetpu.so library, so your TensorFlow version must mat

[2021-10-26 16:04] abucka opened #32 "build libedgetpu for Windows"
Hello,

How to build libedgetpu for Windows using Docker+Bazel (Dockerfile.Windows and build.bat). How to exactly use this files?

[2021-11-09 23:05] YijinLiu commented on #9
There is another issue, a likely contention:
- The worker thread (from driver/usb/usb_driver.cc) installs these event/interrupt/bulk-in readers, which timeout every 6 seconds by default.
- The client calls UsbDriver::DoSubmit to submit jobs to the device.
- If the readers timeout the same time UsbDriver::ProcessIo issues bulk-out requests, it may be stuck there for ever.
I changed usb_timeout_mill

[2021-11-16 23:00] soldierkam commented on #11
Most likely it still uses old version. Please make sure that kernel loaded newer version of modules. There are two of them - gasket and apex (or smth similar).

[2021-11-16 23:40] hack2spider commented on #11
thanks for reply ..

I`ve installed the drivers as follow :

1,
echo “deb https://packages.cloud.google.com/apt coral-edgetpu-stable main” | tee /etc/apt/sources.list.d/coral-edgetpu.list

curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -

apt install gasket-dkms

sh -c “echo ‘SUBSYSTEM==“apex”, MODE=“0660”, GROUP=“apex”’ >> /etc/udev/rules.d/65-apex.rules”

groupadd apex

[2021-11-18 15:38] hjonnala commented on #32
Hi @abucka are you able to build libedgeptu on windows?

[2021-11-23 05:41] anuragkarwa001 opened #33 "some weird malloc error when calling GetSingleton()->OpenDevice()"
### Description

I have created a sample program and was trying detection with a single edge tpu and it was working fine. But when I added some code that basically parses the model name and labels file from  a config file the function call gives a malloc error. But as far as I can see I have not passes anything to this function as argument and also I have checked that the model is present on the l

[2021-11-23 20:41] hjonnala commented on #33
@anuragkarwa001 can you try to pass the parameters as input arguments to the script.

[2021-11-29 06:38] manoj7410 commented on #9
Thank you for sharing these details. What all files were modified to solve the issue ?

[2021-11-29 07:04] chao-camect commented on #9
Besides the diffs I posted previously, here are two extra changes:

<pre>
diff --git a/driver/beagle/beagle_usb_driver_provider.cc b/driver/beagle/beagle_usb_driver_provider.cc
index dcfd804..2b82a00 100644
--- a/driver/beagle/beagle_usb_driver_provider.cc
+++ b/driver/beagle/beagle_usb_driver_provider.cc
@@ -105,7 +105,7 @@ ABSL_FLAG(bool, usb_enable_bulk_descriptors_from_device,
 ABSL_FLAG(bool,

[2021-11-30 06:40] manoj7410 commented on #9
@YijinLiu Are these changes made to the generic Linux drivers?

[2021-11-30 08:10] chao-camect commented on #9
It's libedgetpu. You can find the filenames in the diff...

[2021-12-02 03:40] manoj7410 commented on #9
@chao-camect Got it. We are still not able to reproduce this. However, can you create a patch of the complete code change and submit for review?

[2021-12-02 10:36] chao-camect commented on #9
To repro it, you'll need to add random sleep time between two calls to USB Coral. Since the default timeout is 6s, the sleep time need to be around that to replicate.
I'll find some time to create the PR.

[2021-12-09 04:58] enfild opened #35 "Interpreter->invoke() calls Segmentation Fault"
### Description

**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04 with USB Coral, and Raspberry Pi 4 B.
- TensorFlow version : v2.5.0, v2.6.0

**Description**
When i calls `initTfLiteInterpreter()`, tfLite work is correct, output has all information (boxes, labels and classes), time of invoke is good (15 ms). But when i calls `processingFrame(cv::Mat)` in other classes wit

[2021-12-09 15:37] hjonnala commented on #35
Hi @enfild are using [edgetpu_runtime 14](https://coral.ai/software/#edgetpu-runtime) version?

Can you try with any other models and let us know if it's happening with other models too. Thanks!

[2021-12-09 16:03] hjonnala commented on #35
I think, it is okay if you build the library using [libedgetpu](https://github.com/google-coral/libedgetpu) repo. Just want to make sure, if you are using latest runtime.

Here are some object detection models: https://coral.ai/models/object-detection/
You can get all those models from [test_data](https://github.com/google-coral/test_data) repo.

[2021-12-09 23:25] hjonnala commented on #33
closing due to inactivity. Feel free to reopen if you are still having the issue. Thanks!

[2021-12-10 04:55] enfild commented on #35
@hjonnala Thank you for help, this issue based on uncorrect model, because models from test_repo by coral, work is good. i close issue

[2021-12-13 09:39] enfild commented on #35
Hi @hjonnala . Unfortunately I was happy early, because I checked the models from the test data only for classification problems. But when I take models to object detection, the problem comes back again. May by you has any idea?

[2021-12-13 14:03] hjonnala commented on #35
Hi @emfid can you please share the files and steps needed to reproduce the issue.

[2021-12-13 14:38] enfild commented on #35
@hjonnala it is module for main programm
Files:
https://drive.google.com/drive/folders/1WPE7orTM55xZe7Hkz5r4z7xYrZ5oHSF3?usp=sharing

[2021-12-13 17:21] hjonnala commented on #35
Thanks for sharing the files. I am trying to build the code with cmake but i am getting the following error. Can you lease share the steps how build and run the code. Also,  please share the model that you are trying to run. Thanks!

<details>

[code]
</details>

[2021-12-13 23:08] #33 closed

[2021-12-14 07:23] enfild commented on #35
@hjonnala I wrote the required minimal example, to use it you need to run the build from the test folder(with model and image).
https://drive.google.com/drive/folders/1jvRUpYHemYuGA56wWdccy4Jsc8v-0biv?usp=sharing
Please install Qt:
[code]

[2021-12-14 22:22] hjonnala commented on #35
I am having issues with qt installation on linux. But I am able to run benchmarks using [libcoral](https://github.com/google-coral/libcoral/blob/master/coral/single_model_benchmark.cc) and object detection using [PyCoral API](https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py). Looks like the model is not detecting the objects accurately. Have you tested the accuracy with

[2021-12-15 04:42] enfild commented on #35
@hjonnala I think we have some kind of misunderstanding. Thanks for linking to the model, i tested and gets the same error.
My model may be inaccurate, the quality is poor, but it doesn't matter to me. It is important for me to understand why I get a segmentation error when embedding Coral with TF in projects.
i removed Qt from proj:
https://drive.google.com/drive/folders/1sdBT6NsJnocuPagVFxDLuaPm

[2021-12-15 20:36] talcs opened #36 "Need a way to deallocate libusb delegates "leaked" after Python process is killed"
From experience on the Windows10 machine I work on, any USB socket becomes unusable for Coral USB stick if the Python/TFLite process that ran it has been killed - the OS resources stay occupied and cannot be allocated again for a given USB socket.

The only workaround I found so far is once the USB socket cannot accept Coral anymore (getting an error from edgetpu.dll), is moving Coral to another U

[2021-12-15 22:40] hjonnala commented on #36
HI @talcs  can you try the way 2 from this link: https://www.partitionwizard.com/partitionmanager/how-do-i-reset-my-usb-ports.html

[2021-12-16 09:31] talcs commented on #36
Hi @hjonnala , Thank you, but sadly it didn't help... The value in my registry was already 3. Every single USB port works until the first time the application crashes abruptly without deallocating the resource.... Need to somehow access those runaway living delegates and deallocate them.

[2021-12-17 02:21] enfild commented on #35
Hi @hjonnala . I'm sorry, I just noticed that the access was not open. Corrected.

[2021-12-20 08:29] enfild commented on #35
Valgrind output is `Conditional jump or move depends on uninitialised value(s)`
[code]

[2021-12-20 08:36] manoj7410 commented on #35
@enfild Did you try to build the libedgetpu with debug/detailed logging enabled? We can get some hints from there. I would suggest you to change the log_level of libedgetpu at https://github.com/google-coral/libedgetpu/blob/master/port/default/port_from_tf/logging.cc#L171 and then rebuild this library by following the instructions given at https://github.com/google-coral/libedgetpu#building.

You

[2021-12-20 09:07] enfild commented on #35
@manoj7410 thanks for you recomendetions!
Now i get this output:
<details>I driver/usb/local_usb_device.cc:672] ASYNC IN 1 end
I driver/usb/usb_driver.cc:1138] bulk in 1024 bytes from buffer index [0]
I driver/usb/usb_driver.cc:1138] bulk in 1024 bytes from buffer index [1]
I driver/usb/usb_driver.cc:1138] bulk in 1024 bytes from buffer index [2]
I driver/usb/usb_driver.cc:1138] bulk in 1024 bytes

[2021-12-22 04:48] manoj7410 commented on #35
I see that you have already used GDB. Did you try to run the bt command?
Also, can you try to run gdb ./<Executable> core

[2021-12-22 05:33] enfild commented on #35
@manoj7410  , yes i get `bt` out like this:
<detail>
I driver/usb/usb_driver.cc:1174] WorkerThreadFunc dispatching 0 callback events in worker thread
I driver/usb/usb_driver.cc:1317] WorkerThreadFunc waiting on state change
I driver/usb/usb_driver.cc:91] Unlocks both mutex

Thread 1 "ControllerNN_te" received signal SIGSEGV, Segmentation fault.
0x000000000063d89c in tflite::ops::custom::detection_

[2022-01-11 02:37] jk78346 opened #38 "error when compile libedgetpu.so from source code with specific tf version"
Hi, I'm compiling libedgetpu.so from source code here, and I aim to match tf1.13.1 verison. So I changed TENSORFLOW_COMMIT and TENSORFLOW_SHA256 to the following:
[code]
But I got the error:
[code]

I couldn't really find out any solution to solve this. I'm not sure if Bazel version has  to be a specific version as well. Does anyone has clue about what cause this error?
My bazel version is 2.0.0.

[2022-01-11 16:39] hjonnala commented on #38
Hello @jk78346 the build is not supported with tf1.13.1 version as [workspace3.bzl](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace3.bzl)  is missing.

Please try the build with TF v2.3.0 or TF v2.5.0. Thanks!

[2022-01-19 12:32] enfild commented on #35
I managed to solve the problem. using a shared pointer to the interpreter. And passing the pointer to the invoke execution area.

[2022-01-19 12:32] #35 closed

[2022-01-25 15:40] #38 closed

[2022-02-11 02:28] iwatake2222 commented on #32
Just sharing. I created GitHub Actions script to build libedgetpu for Windows.
https://github.com/iwatake2222/InferenceHelper_Binary/blob/master/.github/workflows/build_edgetpu_windows.yml

[2022-03-14 15:24] twilstark opened #39 "Libedgetpu on Android arm64-v8a"
Hello,

I'm trying to run coral accelerator usb and tensorflow lite on android base device.  How can I compile  libedgetpu for android?

Thank you

[2022-03-14 17:26] hjonnala commented on #39
Hello @twilstark we don't support libedgetpu build for Andriod platforms. Please check the supported platforms at: https://github.com/google-coral/libedgetpu/blob/master/Makefile#L36

[2022-03-15 10:22] twilstark commented on #39
Hi @hjonnala, thank you

[2022-03-15 10:22] #39 closed

[2022-05-03 12:18] liviolima80 opened #40 "error cross compilation for aarch64"
### Description

Hi,
I'm trying to cross-compile libedgetpu for aarch64 using the makefile approach in order to update the lib on coral dev board.
I used the suggested commit for TF2.5. I aldo downloaded the source code for abseil-cpp, flatbuffers and libusb that are the dependecies and edited the makefile_build/Makefile in order to add the include path of these libraries.

I have a bounch of erro

[2022-05-17 17:33] hjonnala commented on #40
Hello @liviolima80 can you please try to cross compile with bazel+docker: https://github.com/google-coral/libedgetpu#bazel--docker

[2022-06-21 11:15] NobuoTsukamoto commented on #28
When you source build abseil-cpp, specify the shared library build options.
[code]

It seems that some symbols are missing in the static link library of abseil-cpp (Default compilation options).
When linking abseil-cpp with the static link library on Raspberry Pi OS 64bit, the same problem occurred.

[2022-09-28 16:54] xxs1989 commented on #9
Hey, I got the same issue as :

[2022-09-29 03:38] hjonnala commented on #9
Hi @xxs1989 the board requires 5V/2A power supply. Please check the section 5.1 for more details at: https://coral.ai/static/files/Coral-Dev-Board-Mini-datasheet.pdf. Thanks!